// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


// @include font-face("Open Sans", "../fonts/open-sans/OpenSans-Regular", normal, $file-formats: ttf);
// @include font-face("Open Sans", "../fonts/open-sans/OpenSans-Regular", normal, italic, $file-formats: ttf);


@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('/src/fonts/GalaxieCopernicus-Book.otf');
    src: url('/src/fonts/GalaxieCopernicus-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-VariableFont.ttf');
    src: url('/src/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/// font
/// @type List
$primary-font: 'Galaxie Copernicus',
Helvetica,
sans-serif;

/// @type List
$secondary-font: 'Inter',
Helvetica,
sans-serif;

$base-line-height: 1.4;