// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  // max-width: $max-width; // 1
  @include push--auto;
  padding-left: 20px; // 3
  padding-right: 20px; // 3
  width: 100%; // 1
}

// modified bootstrap container
.container {
  max-width: calc(100% - (16px + 16px));
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.row>.col,
.row>[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

@include respond-to('extra-small') {
  .container {
    max-width: calc(100% - (32px + 32px));
  }

  .row {
    margin-right: -8px;
    margin-left: -8px;
  }

  .row>.col,
  .row>[class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@include respond-to('medium-small') {
  .container {
    max-width: calc(100% - (48px + 48px));
  }

  .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .row>.col,
  .row>[class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@include respond-to('tablet') {
  .container {
    max-width: calc(100% - (64px + 64px));
  }

  .row {
    margin-right: -16px;
    margin-left: -16px;
  }

  .row>.col,
  .row>[class*="col-"] {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@include respond-to('tablet-medium') {
  .container {
    max-width: calc(100% - (88px + 88px));
  }

  .row {
    margin-right: -22px;
    margin-left: -22px;
  }

  .row>.col,
  .row>[class*="col-"] {
    padding-right: 22px;
    padding-left: 22px;
  }
}

@include respond-to('laptop') {
  .container {
    max-width: calc(100% - (120px + 120px));
  }

  .row {
    margin-right: -30px;
    margin-left: -30px;
  }

  .row>.col,
  .row>[class*="col-"] {
    padding-right: 30px;
    padding-left: 30px;
  }

}

@media (min-width: 1680px) {
  .container {
    max-width: calc(100% - (240px + 240px));
  }
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; // 1
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}